
@font-face {
  font-family:'PT Serif', serif;
  src: url("../../fonts/PTSerif-Italic.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../../fonts/Roboto-Light.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
  font-display: block;
}


@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("../../fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
  font-display: block;
}

