
*,
*::before,
*::after {
  box-sizing: border-box;
}


button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}



.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.noscroll,
.noscroll body {
  overflow: hidden;
}

body{
  background-color: white;
}


#color{
  background-color: var(--gris);
}

.main__orange{
  background-color: var(--orange);
}

a{
  text-decoration:none;
  color: white;
}

hr{

  border-style:solid;
  border-color:white;
}

.separaison{
  

  margin: 0 5vh;
}
