.article1__header{
    background-image: url(../../../public/img/article1_intro.jpg);
    background-repeat: no-repeat;
    padding-bottom:10vh ;

}

.article2__header{
    background-image: url(../../../public/img/article2_intro.jpg);
    background-repeat: no-repeat;
    padding-bottom:10vh ;

}

.article3__header{
    background-image: url(../../../public/img/article3_intro.jpg);
    background-repeat: no-repeat;
    padding-bottom:10vh ;

}